.venv/
__pycache__/
.ipynb_checkpoints/
data/
outputs/
*.pyc
.DS_Store
notes.md
.vscode/
tng300/outputs/
sbi-logs/
results/
tng300/outputs/*
tng300/catalog_c/*
!tng300/catalog_c/.gitkeep
sbi-logs/
build/

diagnostics_explained.md